HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
gradlew
gradlew.bat
.gradle/8.0/gc.properties
.gradle/8.0/checksums/checksums.lock
.gradle/8.0/dependencies-accessors/dependencies-accessors.lock
.gradle/8.0/dependencies-accessors/gc.properties
.gradle/8.0/executionHistory/executionHistory.bin
.gradle/8.0/executionHistory/executionHistory.lock
.gradle/8.0/fileChanges/last-build.bin
.gradle/8.0/fileHashes/fileHashes.bin
.gradle/8.0/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcs-1/gc.properties
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
